<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ACA Effectiveness for Infant Mortality</title>

        <!-- Leaflet CSS -->
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- Bootstrap -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
   
        <div class="container">
            <div class="row">
                <div class="col-sm-10 text-center"
                    style="background-color: whitesmoke;">
                    <h1 style="color: rgb(10, 133, 152)">U.S. State Infant Mortality
                        Rate Pre(2010) & Post(2015) Affordable
                        Care Act</h1>
                    <p class="group-name">Group members: Susan Jessop, Anjelica
                        Ramsey, Sanjaye Thomas</p>
                        <img
                        src="https://www.ci.punta-gorda.fl.us/Home/ShowPublishedImage/2312/636867910172030000"
                        alt="img" />
                </div>
        </div> 
                <!-- The div that holds our map -->
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                <br></br>
                <h1>Overview:</h1>
                <p>Infant mortality is defined as the death of an infant before their first birthday. It is used 
                    as a broad population indicator of the community’s health status, socioeconomic levels and 
                    accessibility to medical services (AMCHP). The Affordable Care Act (ACA) was enacted in an 
                    effort to make affordable health insurance available to more people, thereby reduce uninsured rate and 
                    improve patient outcomes.</p>
                
                <h1>Interactive Visualizations:</h1>
                 <p>The map shows the U.S. uninsured rate (%) and infant death per 1000 by State for 2010 and 2015:
                     <li>Hover over State for population stats</li>
                     <li>Click on Marker for uninsured rate (%) and infant death per 1000 for each State</li>
                </p>
                    <div class="fig">Figure 1.</div>
           
                  <div id="map"></div>
                </div>
                  </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                    <br></br>
                    <p>The bar charts show the uninsured rate (%) and infant mortality for 2010 and 2015.</p>
                    <div class="dropdown-state">
                            <h5 class="state-tag">Select a State:</h5>
                            <select id="selDataset"
                                onchange="optionChanged(this.value)"></select>
                        </div>
                    </div>
                    <br></br>
                <div class="col-md-12">
                    <br></br>
                    <div class="fig">Figure 2.</div>
                    <div id="bar"></div>

                    <br></br>
                <div class="fig">Figure 3. </div>
                <div id="bar"></div>
            </div>

            <div class="col-md-5">
                <div id="bar1"></div>
            </div>
        </div>

        <div class="source">Sources
            <p> ___________________________________</p>
            <p> - Centers for Disease Control and Prevention -
                https://wonder.cdc.gov/lbd-current.html</p>
            <p> - US Department of Health and Human Services and US
                Census Bureau -
                https://www.kaggle.com/hhs/health-insurance</p>
        </div>

        <!-- Leaflet JavaScript -->
        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <!-- API key -->
        <script type="text/javascript" src="../static/js/config.js"></script>
        <!-- D3 JavaScript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
        <script type="text/javascript"
            src="https://d3js.org/d3.v5.min.js"></script>
        <!--Plotly-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- Our JavaScript -->
        <script type="text/javascript" src="../static/js/chart.js"></script>
        <script type="text/javascript" src="../static/js/us-states.js"></script>
        <script type="text/javascript" src="../static/js/choromap.js"></script>

         <!-- Bootstrap JS -->
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
         integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
         integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>