<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ACA Effectiveness for Infant Mortality</title>

        <!-- Leaflet CSS -->
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
          <!-- Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <div class="row">
              <!-- <div class="col-md-12 jumbotron text-center"style="background-color:lightgray";>
        <div class="header"> -->
            <h1>State Infant Mortality Rate Pre(2010) & Post(2015) Affordable
                Care Act </h1>
            <p>Group members: Susan Jessop, Anjelica Ramsey, Sanjaye Thomas</p>
        </div>
        div class="row">
        <div class="col-md-2"></div>
          <div class="well">
            <h5>Test Subject ID No.:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">States ACA Infant Mortality</h3>
            </div>
            <div id="aca-data" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="bar"></div>
        </div>
        <!-- The div that holds our map -->
        <div id="map"></div>
        

        <!-- Leaflet JavaScript -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <!-- API key -->
        <script type="text/javascript" src="../static/js/config.js"></script>
        <!-- D3 JavaScript -->
        <!-- <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
        <!-- Our JavaScript -->
        <script type="text/javascript" src="../static/js/logic.js"></script>
        <script type="text/javascript" src="../static/js/logic1.js"></script>
    </body>
    </body>
</html>
